In [1]:
import pandas as pd
df = pd.read_csv('../data/data_20240604.csv')

# Data Preparation

In [2]:
df.head()

,bathrooms,bedrooms,city,country,currency,daysOnZillow,homeStatus,homeStatusForHDP,homeType,imgSrc,...,newConstructionType,listing_sub_type.is_newHome,unit,group_type,priceSuffix,providerListingID,openHouse,listing_sub_type.is_openHouse,open_house_info.open_house_showing,videoCount
0,2.0,3.0,Houston,USA,USD,-1,FOR_SALE,FOR_SALE,SINGLE_FAMILY,https://photos.zillowstatic.com/fp/5fb6cdca67f...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3.0,4.0,Humble,USA,USD,-1,FOR_SALE,FOR_SALE,SINGLE_FAMILY,https://photos.zillowstatic.com/fp/b0c5e6a1a11...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,5.0,Houston,USA,USD,-1,FOR_SALE,FOR_SALE,SINGLE_FAMILY,https://photos.zillowstatic.com/fp/e1d5c5f3526...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,3.0,Houston,USA,USD,-1,FOR_SALE,FOR_SALE,SINGLE_FAMILY,https://photos.zillowstatic.com/fp/e0750673898...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,3.0,Houston,USA,USD,-1,FOR_SALE,FOR_SALE,SINGLE_FAMILY,https://photos.zillowstatic.com/fp/9eb2f29d6b6...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 48 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   bathrooms                           655 non-null    float64
 1   bedrooms                            589 non-null    float64
 2   city                                656 non-null    object
 3   country                             656 non-null    object
 4   currency                            656 non-null    object
 5   daysOnZillow                        656 non-null    int64
 6   homeStatus                          656 non-null    object
 7   homeStatusForHDP                    656 non-null    object
 8   homeType                            656 non-null    object
 9   imgSrc                              656 non-null    object
 10  isFeatured                          656 non-null    bool
 11  isNonOwnerOccupied                  656 non-null    bool
 12  isPreforeclosureAuction             656 non-null    bool
 13  isPremierBuilder                    656 non-null    bool
 14  isShowcaseListing                   656 non-null    bool
 15  isUnmappable                        656 non-null    bool
 16  isZillowOwned                       656 non-null    bool
 17  latitude                            656 non-null    float64
 18  livingArea                          588 non-null    float64
 19  longitude                           656 non-null    float64
 20  lotAreaUnit                         601 non-null    object
 21  lotAreaValue                        601 non-null    float64
 22  price                               656 non-null    float64
 23  priceForHDP                         656 non-null    float64
 24  rentZestimate                       609 non-null    float64
 25  shouldHighlight                     656 non-null    bool
 26  state                               656 non-null    object
 27  streetAddress                       656 non-null    object
 28  taxAssessedValue                    533 non-null    float64
 29  timeOnZillow                        656 non-null    int64
 30  zestimate                           533 non-null    float64
 31  zipcode                             656 non-null    int64
 32  zpid                                656 non-null    int64
 33  listing_sub_type.is_FSBA            562 non-null    object
 34  listing_sub_type.is_bankOwned       1 non-null      object
 35  datePriceChanged                    128 non-null    float64
 36  priceChange                         128 non-null    float64
 37  priceReduction                      97 non-null     object
 38  newConstructionType                 93 non-null     object
 39  listing_sub_type.is_newHome         93 non-null     object
 40  unit                                140 non-null    object
 41  group_type                          12 non-null     object
 42  priceSuffix                         12 non-null     object
 43  providerListingID                   16 non-null     float64
 44  openHouse                           35 non-null     object
 45  listing_sub_type.is_openHouse       35 non-null     object
 46  open_house_info.open_house_showing  35 non-null     object
 47  videoCount                          6 non-null      float64
dtypes: bool(8), float64(15), int64(4), object(21)
memory usage: 210.2+ KB

too many column with null values, we will drop it

In [4]:
df.columns

Index(['bathrooms', 'bedrooms', 'city', 'country', 'currency', 'daysOnZillow',
       'homeStatus', 'homeStatusForHDP', 'homeType', 'imgSrc', 'isFeatured',
       'isNonOwnerOccupied', 'isPreforeclosureAuction', 'isPremierBuilder',
       'isShowcaseListing', 'isUnmappable', 'isZillowOwned', 'latitude',
       'livingArea', 'longitude', 'lotAreaUnit', 'lotAreaValue', 'price',
       'priceForHDP', 'rentZestimate', 'shouldHighlight', 'state',
       'streetAddress', 'taxAssessedValue', 'timeOnZillow', 'zestimate',
       'zipcode', 'zpid', 'listing_sub_type.is_FSBA',
       'listing_sub_type.is_bankOwned', 'datePriceChanged', 'priceChange',
       'priceReduction', 'newConstructionType', 'listing_sub_type.is_newHome',
       'unit', 'group_type', 'priceSuffix', 'providerListingID', 'openHouse',
       'listing_sub_type.is_openHouse', 'open_house_info.open_house_showing',
       'videoCount'],
      dtype='object')

In [5]:
df.priceSuffix

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
651    NaN
652    NaN
653    NaN
654    NaN
655    NaN
Name: priceSuffix, Length: 656, dtype: object

In [6]:
data = df[['bathrooms','bedrooms','daysOnZillow','homeType','isPremierBuilder',
         'livingArea','latitude', 'longitude','price','rentZestimate','zestimate',
         'priceChange']]

In [7]:
data.isnull().sum()

bathrooms             1
bedrooms             67
daysOnZillow          0
homeType              0
isPremierBuilder      0
livingArea           68
latitude              0
longitude             0
price                 0
rentZestimate        47
zestimate           123
priceChange         528
dtype: int64

In [8]:
data[data['zestimate'].isnull()]

,bathrooms,bedrooms,daysOnZillow,homeType,isPremierBuilder,livingArea,latitude,longitude,price,rentZestimate,zestimate,priceChange
7,2.0,2.0,-1,MULTI_FAMILY,False,2182.0,29.827799,-95.311000,419990.0,1200.0,NaN,NaN
11,3.0,3.0,-1,SINGLE_FAMILY,False,1814.0,29.813738,-95.496376,399900.0,NaN,NaN,NaN
12,3.0,3.0,-1,SINGLE_FAMILY,False,1811.0,29.813738,-95.496376,409990.0,NaN,NaN,NaN
13,3.0,4.0,-1,SINGLE_FAMILY,False,1869.0,29.876081,-95.142105,334905.0,NaN,NaN,NaN
14,0.0,NaN,-1,LOT,False,NaN,29.871655,-95.415680,150000.0,1099.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
622,1.0,2.0,4,CONDO,False,800.0,29.782244,-95.378070,225000.0,NaN,NaN,NaN
630,0.0,NaN,4,LOT,False,NaN,29.783703,-95.313510,350000.0,1090.0,NaN,278000.0
642,0.0,NaN,4,LOT,False,NaN,29.830889,-95.570340,1200000.0,1655.0,NaN,NaN
644,5.0,4.0,4,SINGLE_FAMILY,False,4711.0,29.740435,-95.421715,2399000.0,2650.0,NaN,NaN
655,3.0,2.0,4,CONDO,False,2575.0,29.760649,-95.382095,2320000.0,NaN,NaN,NaN

In [9]:
data['priceChange'] = data['priceChange'].fillna(0)

C:\Users\user.LAPTOP-Q7VAS97O.000\AppData\Local\Temp\ipykernel_43436\123812811.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['priceChange'] = data['priceChange'].fillna(0)

In [10]:
data = data.dropna()

In [11]:
data

,bathrooms,bedrooms,daysOnZillow,homeType,isPremierBuilder,livingArea,latitude,longitude,price,rentZestimate,zestimate,priceChange
0,2.0,3.0,-1,SINGLE_FAMILY,False,1512.0,29.796509,-95.711190,235000.0,1817.0,237300.0,0.0
1,3.0,4.0,-1,SINGLE_FAMILY,False,2532.0,30.063740,-95.231255,309900.0,2299.0,309700.0,0.0
2,2.0,5.0,-1,SINGLE_FAMILY,False,2215.0,29.893602,-95.410576,152000.0,2500.0,152100.0,0.0
3,3.0,3.0,-1,SINGLE_FAMILY,False,2148.0,29.599344,-95.460464,247000.0,1999.0,248600.0,0.0
4,2.0,3.0,-1,SINGLE_FAMILY,False,1587.0,29.797943,-95.686830,290000.0,1895.0,291600.0,-10000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
650,3.0,3.0,4,SINGLE_FAMILY,False,1969.0,29.701801,-95.354980,399900.0,1150.0,394400.0,0.0
651,2.0,2.0,4,TOWNHOUSE,False,1088.0,29.562214,-95.118690,197900.0,1550.0,196000.0,0.0
652,4.0,4.0,4,SINGLE_FAMILY,False,2717.0,29.819930,-95.421520,644900.0,4017.0,642700.0,-4100.0
653,3.0,4.0,4,SINGLE_FAMILY,False,2358.0,29.993038,-95.599490,324900.0,2378.0,325500.0,0.0
654,2.0,3.0,4,SINGLE_FAMILY,False,1452.0,29.854383,-95.404180,319000.0,1800.0,317400.0,0.0

# Modelling

In [14]:
# init setup
from pycaret.regression import *
reg1 = setup(data = data, target = 'price')

# compare models
best = compare_models()